.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  color: #1f4e79;
  font-family: "Inter Semi Bold", sans-serif;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  text-decoration: none;
  font-size: 1.0625rem;
  font-weight: bold;
  transition: 0.3s;
  width: 20rem;
  height: 3rem;

  .icon {
    margin-right: 0.625rem;
  }

  &:hover {
    background: #d9e8fc;
  }

  .whiteFa {
    color: transparent;
  }

  .icon {
    font-size: 1.5rem;
    color: #1f4e79;
  }

  @media (max-width: 768px) {
    width: 18rem;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;

    .icon {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 480px) {
    width: 16rem;
    height: 2.25rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;

    .icon {
      font-size: 1.125rem;
    }
  }
}
