.header {
  text-align: center;
  padding: 20px;
  color: white;
}

.profile-container {
  margin-bottom: 20px;
}

.profile-image {
  padding: 25px 29px;
  font-size: 60px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ececec;
}


.name {
  margin: 0;
  font-size: 22px;
  padding-bottom: 5px;
}

.title {
  margin: 5px 0 0;
  font-size: 17px;
  font-weight: normal;
}