:root{
  --blue1:rgba(91, 153, 194, 1);
  --blue2:rgba(59, 113, 153, 1);
  --blue3:rgba(31, 49, 111, 0.9);
}

body {
  background: linear-gradient(var(--blue1), var(--blue2), var(--blue3));
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
